USE [ESTADOCUENTA_DB]
GO

/****** Object:  StoredProcedure [dbo].[ObtenerTransacciones]    Script Date: 6/4/2024 17:08:45 ******/
DROP PROCEDURE [DBO].[OBTENERTRANSACCIONES]
GO
 /****** Object:  StoredProcedure [dbo].[ObtenerInformacionTarjeta]    Script Date: 6/4/2024 17:08:45 ******/
DROP PROCEDURE [DBO].[OBTENERINFORMACIONTARJETA]
GO
 /****** Object:  StoredProcedure [dbo].[GuardarPago]    Script Date: 6/4/2024 17:08:45 ******/
DROP PROCEDURE [DBO].[GUARDARPAGO]
GO
 /****** Object:  StoredProcedure [dbo].[GuardarCompra]    Script Date: 6/4/2024 17:08:45 ******/
DROP PROCEDURE [DBO].[GUARDARCOMPRA]
GO
ALTER TABLE [DBO].[PAGOS] DROP CONSTRAINT [FK_PAGOSTARJETA]
GO
ALTER TABLE [DBO].[COMPRAS] DROP CONSTRAINT [FK_COMPRASTARJETA]
GO
 /****** Object:  Table [dbo].[Pagos]    Script Date: 6/4/2024 17:08:45 ******/
IF EXISTS (
  SELECT
     *
  FROM
     SYS.OBJECTS
  WHERE
     OBJECT_ID = OBJECT_ID(N'[dbo].[Pagos]')
    AND TYPE IN (N'U')
)
DROP TABLE [DBO].[PAGOS]
GO
 /****** Object:  Table [dbo].[DatosTarjeta]    Script Date: 6/4/2024 17:08:45 ******/
IF EXISTS (
  SELECT
     *
  FROM
     SYS.OBJECTS
  WHERE
     OBJECT_ID = OBJECT_ID(N'[dbo].[DatosTarjeta]')
    AND TYPE IN (N'U')
)
DROP TABLE [DBO].[DATOSTARJETA]
GO
 /****** Object:  Table [dbo].[DatosConfigurables]    Script Date: 6/4/2024 17:08:45 ******/
IF EXISTS (
  SELECT
     *
  FROM
     SYS.OBJECTS
  WHERE
     OBJECT_ID = OBJECT_ID(N'[dbo].[DatosConfigurables]')
    AND TYPE IN (N'U')
)
DROP TABLE [DBO].[DATOSCONFIGURABLES]
GO
 /****** Object:  Table [dbo].[Compras]    Script Date: 6/4/2024 17:08:45 ******/
IF EXISTS (
  SELECT
     *
  FROM
     SYS.OBJECTS
  WHERE
     OBJECT_ID = OBJECT_ID(N'[dbo].[Compras]')
    AND TYPE IN (N'U')
)
DROP TABLE [DBO].[COMPRAS]
GO
 /****** Object:  Table [dbo].[Compras]    Script Date: 6/4/2024 17:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBO].[COMPRAS](
 [IDCOMPRA] [INT] IDENTITY(1, 1) NOT NULL,
 [NUMEROTARJETA] [VARCHAR](13) NOT NULL,
 [FECHA] [DATE] NOT NULL,
 [DESCRIPCION] [VARCHAR](300) NULL,
 [MONTO] [MONEY] NOT NULL,
PRIMARY KEY CLUSTERED
(
 [IDCOMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[DatosConfigurables]    Script Date: 6/4/2024 17:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBO].[DATOSCONFIGURABLES](
 [IDDATOSCONFIGURABLES] [INT] IDENTITY(1, 1) NOT NULL,
 [NOMBRE] [VARCHAR](200) NOT NULL,
 [DESCRIPCION] [VARCHAR](200) NOT NULL,
 [VALOR] [VARCHAR](200) NOT NULL,
PRIMARY KEY CLUSTERED
(
 [IDDATOSCONFIGURABLES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[DatosTarjeta]    Script Date: 6/4/2024 17:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBO].[DATOSTARJETA](
 [NUMEROTARJETA] [VARCHAR](13) NOT NULL,
 [NOMBRE] [VARCHAR](300) NOT NULL,
 [SALDOACTUAL] [MONEY] NOT NULL,
 [LIMITE] [MONEY] NOT NULL,
 [SALDODISPONIBLE] [MONEY] NULL,
PRIMARY KEY CLUSTERED
(
 [NUMEROTARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[Pagos]    Script Date: 6/4/2024 17:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBO].[PAGOS](
 [IDPAGO] [INT] IDENTITY(1, 1) NOT NULL,
 [NUMEROTARJETA] [VARCHAR](13) NOT NULL,
 [FECHA] [DATE] NOT NULL,
 [MONTO] [MONEY] NOT NULL,
PRIMARY KEY CLUSTERED
(
 [IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [DBO].[COMPRAS] ON
INSERT [DBO].[COMPRAS] ([IDCOMPRA], [NUMEROTARJETA], [FECHA], [DESCRIPCION], [MONTO]) VALUES (3, N'1234567891234', CAST(N'2024-04-06' AS DATE), N'compra de zapatos', 20.0000)
INSERT [DBO].[COMPRAS] ([IDCOMPRA], [NUMEROTARJETA], [FECHA], [DESCRIPCION], [MONTO]) VALUES (4, N'1234567891234', CAST(N'2024-04-06' AS DATE), N'compra de pelote de futbol', 50.0000)
INSERT [DBO].[COMPRAS] ([IDCOMPRA], [NUMEROTARJETA], [FECHA], [DESCRIPCION], [MONTO]) VALUES (5, N'1234567891234', CAST(N'2024-04-06' AS DATE), N'botella de agua', 1.0000)
SET IDENTITY_INSERT [DBO].[COMPRAS] OFF
GO
SET IDENTITY_INSERT [DBO].[DATOSCONFIGURABLES] ON
INSERT [DBO].[DATOSCONFIGURABLES] ([IDDATOSCONFIGURABLES], [NOMBRE], [DESCRIPCION], [VALOR]) VALUES (1, N'interes', N'interesConfigurable', N'0.25')
INSERT [DBO].[DATOSCONFIGURABLES] ([IDDATOSCONFIGURABLES], [NOMBRE], [DESCRIPCION], [VALOR]) VALUES (3, N'porcentajeSaldoMinimo', N'porcentaje de saldo minimo', N'0.05')
SET IDENTITY_INSERT [DBO].[DATOSCONFIGURABLES] OFF
GO
INSERT [DBO].[DATOSTARJETA] ([NUMEROTARJETA], [NOMBRE], [SALDOACTUAL], [LIMITE], [SALDODISPONIBLE]) VALUES (N'1234567891234', N'Pedro Benites', 86.0000, 1000.0000, 914.0000)
GO
SET IDENTITY_INSERT [DBO].[PAGOS] ON
INSERT [DBO].[PAGOS] ([IDPAGO], [NUMEROTARJETA], [FECHA], [MONTO]) VALUES (3, N'1234567891234', CAST(N'2024-04-06' AS DATE), 5.0000)
INSERT [DBO].[PAGOS] ([IDPAGO], [NUMEROTARJETA], [FECHA], [MONTO]) VALUES (4, N'1234567891234', CAST(N'2024-04-06' AS DATE), 5.0000)
INSERT [DBO].[PAGOS] ([IDPAGO], [NUMEROTARJETA], [FECHA], [MONTO]) VALUES (5, N'1234567891234', CAST(N'2024-04-04' AS DATE), 4.0000)
SET IDENTITY_INSERT [DBO].[PAGOS] OFF
GO
ALTER TABLE [DBO].[COMPRAS] WITH CHECK ADD CONSTRAINT [FK_COMPRASTARJETA] FOREIGN KEY([NUMEROTARJETA])
REFERENCES [DBO].[DATOSTARJETA] ([NUMEROTARJETA])
GO
ALTER TABLE [DBO].[COMPRAS] CHECK CONSTRAINT [FK_COMPRASTARJETA]
GO
ALTER TABLE [DBO].[PAGOS] WITH CHECK ADD CONSTRAINT [FK_PAGOSTARJETA] FOREIGN KEY([NUMEROTARJETA])
REFERENCES [DBO].[DATOSTARJETA] ([NUMEROTARJETA])
GO
ALTER TABLE [DBO].[PAGOS] CHECK CONSTRAINT [FK_PAGOSTARJETA]
GO
 /****** Object:  StoredProcedure [dbo].[GuardarCompra]    Script Date: 6/4/2024 17:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- =============================================
 -- Author:		<Author,,Name>
 -- Create date: <Create Date,,>
 -- Description:	<Description,,>
 -- =============================================
CREATE PROCEDURE [DBO].[GUARDARCOMPRA]
 -- Add the parameters for the stored procedure here
 @MONTO MONEY,
 @NUMEROTARJETA VARCHAR(13),
 @DESCRIPCION VARCHAR(200),
 @FECHA DATE
AS
BEGIN
 DECLARE @SALDODISPONIBLE MONEY;

SET @saldoDisponible = (
  SELECT
    SALDODISPONIBLE
  FROM
    DATOSTARJETA
)

IF(@SALDODISPONIBLE >= @MONTO)

INSERT INTO COMPRAS (
  MONTO,
  DESCRIPCION,
  FECHA,
  NUMEROTARJETA
) VALUES (
  @MONTO,
  @DESCRIPCION,
  @FECHA,
  @NUMEROTARJETA
) UPDATE DATOSTARJETA SET SALDOACTUAL = SALDOACTUAL + @MONTO,
SALDODISPONIBLE = SALDODISPONIBLE - @MONTO WHERE NUMEROTARJETA = @NUMEROTARJETA END GO
 /****** Object:  StoredProcedure [dbo].[GuardarPago]    Script Date: 6/4/2024 17:08:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO
 -- =============================================
 -- Author:		<Author,,Name>
 -- Create date: <Create Date,,>
 -- Description:	<Description,,>
 -- =============================================
CREATE PROCEDURE [DBO].[GUARDARPAGO]
 -- Add the parameters for the stored procedure here
@MONTO MONEY,
@NUMEROTARJETA VARCHAR(
  13
),
@FECHA DATE AS BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
INSERT INTO PAGOS (
  MONTO,
  FECHA,
  NUMEROTARJETA
) VALUES (
  @MONTO,
  @FECHA,
  @NUMEROTARJETA
) UPDATE DATOSTARJETA SET SALDOACTUAL = SALDOACTUAL - @MONTO,
SALDODISPONIBLE = SALDODISPONIBLE + @MONTO WHERE NUMEROTARJETA = @NUMEROTARJETA END GO
 /****** Object:  StoredProcedure [dbo].[ObtenerInformacionTarjeta]    Script Date: 6/4/2024 17:08:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO
 -- =============================================
 -- Author:		<Author,,Name>
 -- Create date: <Create Date,,>
 -- Description:	<Description,,>
 -- =============================================
CREATE PROCEDURE [DBO].[OBTENERINFORMACIONTARJETA]
 -- Add the parameters for the stored procedure here
@NUMEROTARJETA VARCHAR(
  13
) AS BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
DECLARE @INTERES MONEY;

DECLARE
  @CUOTAMINIMA MONEY;
  DECLARE     @TOTALINTERES MONEY;
  DECLARE     @INTERESCONFIGURABLE MONEY;
  DECLARE     @PORCENTAJESALDOMINIMO MONEY;
  SET         @INTERESCONFIGURABLE = (
    SELECT
      VALOR
    FROM
      DATOSCONFIGURABLES
    WHERE
      NOMBRE = 'interes'
  ) SET @PORCENTAJESALDOMINIMO = (
    SELECT
      VALOR
    FROM
      DATOSCONFIGURABLES
    WHERE
      NOMBRE = 'porcentajeSaldoMinimo'
  ) SET @INTERES = (
    SELECT
      SALDOACTUAL * @INTERESCONFIGURABLE
    FROM
      DATOSTARJETA
    WHERE
      NUMEROTARJETA = @NUMEROTARJETA
  ) SET @CUOTAMINIMA = (
    SELECT
      SALDOACTUAL * @PORCENTAJESALDOMINIMO
    FROM
      DATOSTARJETA
    WHERE
      NUMEROTARJETA = @NUMEROTARJETA
  ) SET @TOTALINTERES = (
    SELECT
      @INTERES + SALDOACTUAL
    FROM
      DATOSTARJETA
    WHERE
      NUMEROTARJETA = @NUMEROTARJETA
  )
  SELECT
    @CUOTAMINIMA AS CUOTAMINIMA,
    SALDOACTUAL,
    @TOTALINTERES AS TOTALINTERES,
    NOMBRE,
    NUMEROTARJETA,
    LIMITE,
    SALDODISPONIBLE
  FROM
    DATOSTARJETA
  WHERE
    NUMEROTARJETA = @NUMEROTARJETA END GO
 /****** Object:  StoredProcedure [dbo].[ObtenerTransacciones]    Script Date: 6/4/2024 17:08:45 ******/ SET ANSI_NULLS
    ON GO SET QUOTED_IDENTIFIER
    ON GO
 -- =============================================
 -- Author:		<Author,,Name>
 -- Create date: <Create Date,,>
 -- Description:	<Description,,>
 -- =============================================
    CREATE PROCEDURE [DBO].[OBTENERTRANSACCIONES]
 -- Add the parameters for the stored procedure here
    @NUMEROTARJETA VARCHAR(13),
    @MES INT AS BEGIN CREATE TABLE #TRANSACCIONES( IDTRANSACCION INT IDENTITY(1, 1), TIPO VARCHAR(1), MONTO MONEY, DESCRIPCION VARCHAR(300), FECHA DATE, NUMEROTARJETA VARCHAR(13) ) INSERT INTO #TRANSACCIONES
    SELECT
      'C',
      MONTO,
      DESCRIPCION,
      FECHA,
      NUMEROTARJETA
    FROM
      COMPRAS
    WHERE
      MONTH(FECHA) = @MES
      AND NUMEROTARJETA = @NUMEROTARJETA;
  INSERT      INTO #TRANSACCIONES
  SELECT
    'P',
    MONTO,
    'Pago',
    FECHA,
    NUMEROTARJETA
  FROM
    PAGOS
  WHERE
    MONTH(FECHA) = @MES
    AND NUMEROTARJETA = @NUMEROTARJETA;
  SELECT      * FROM #TRANSACCIONES ORDER BY MONTO;
  DROP        TABLE #TRANSACCIONES
END GO