.detalle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  .estado-cuenta {
    width: 45%;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 20px -3px rgba(0, 0, 0, 0.75);
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 0.5em;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
    .icono {
      margin-right: 0.5em;
      span {
        font-size: 32px;
      }
    }
    .contenido {
      p {
        span {
          font-weight: bold;
        }
      }
    }
  }
}
